<% @links.each do |link| %>
  <div class="link row clearfix border-bottom pb-2 ">
    <h2>
      <%= link_to link.title, link, class:"link-offset-1 link-underline-secondary link-underline-opacity-0 link-underline-opacity-75-hover " %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.name %></small>
    </h2>

  </div>
<% end %>
